.idea/
.terraform
.DS_Store
../venv/*
*.tool-versions
*.json.tpl
*.execute.sh
*.zipFiles
*__pycache__*
**/*.gz
**/enwiki-latest-abstract.xml
**/movies_metadata.csv.zip
**/*_work.xml
**/*.csv.work
**/movies_metadata.csv
**/*.pytest_cache